body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

div.video-container {
  display: inline-block;
}

div.video-container-content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

div.video-container video, div.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.face-colors {
  display: inline-block;
  text-align: center;
}

.face-color {
  display: inline-block;
  width: 70px;
}

.face-color label {
  display: block;
}

.face-color div {
  display: inline-block;
  width: 30px;
  height: 30px;
  
  border-radius: 15px;
  webkit-border-radius: 15px;
  moz-border-radius: 15px;
  
  border: solid 1px #000;
}

.face-color button {
  display: inline-block;
}
